*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Times New Roman;
}

.ArtItem {
  position: relative;

      .art-item {
        width: 320px;
        background-color: #f4f3f3;
        margin:  5px;
        border-radius: 8px;
        overflow: hidden; 
        display: flex; 
        flex-direction: column; 
      }

      .art-item:hover {
        background-color: black;
        color: white;
        }
      
      .art-item-image {
          position: relative;
      }

      .art-item-image img {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        width:100%;
        height: auto;
        transition: transform 0.5s ease;
        
      }

      .art-item:hover .art-item-image img {
        transform: scale(1.05); 
      }
      
      .art-item-name {
        font-size: 1.5em;
        padding-bottom: 10px;
        margin-bottom: 5px;
      }

      .art-item-info {
        flex-grow: 1;
        display: flex;
        padding: 25px;
        flex-direction: column; 
        justify-content: space-between;
        margin-bottom: 10px;
      }

      .art-item-text {
        text-align: left;
        font-size: 1em;
        margin-bottom: 15px;
      }
      
      .art-item-purchase {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content:center;
      }
      
      .add-to-cart-btn {
        display: none; 
        background-color: rgba(0, 0, 0, 0.7);
        color: white;
        border: none;
        margin-right: 3%;
        padding: 8px 16px;
        border-radius: 15px;
        cursor: pointer;
        font-size: 1.1em;
      }
      .add-to-cart-btn:hover {
        background-color: #0049d2;
        font-weight: bold;
        }

      .add-to-wishlist-btn {
        display: none; 
        background-color: rgba(255, 255, 255, 0.8);
        color: black;
        border: none;
        padding: 8px 16px;
        border-radius: 15px;
        cursor: pointer;
        font-size: 1.1em;
      }
     
      .add-to-wishlist-btn:hover {
        background-color: #e03c1c;
        color: white;
        font-weight: bold;
      }

      .remove-from-wishlist-btn {
        display: none;
        background-color: rgba(255, 255, 255, 0.75);
        color: black;
        border: white;
        padding: 8px 16px;
        border-radius: 15px;
        cursor: pointer;
        font-size: 1.1em;
        margin-top: 3%;
      }

      .remove-from-cart-btn {
        display: none;
        background-color: rgba(0, 0, 0, 0.70);
        color: white;
        padding: 8px 16px;
        border-radius: 15px;
        cursor: pointer;
        font-size: 1.1em;
        margin-top: 3%;
      }

      .remove-move-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      
      .remove-from-wishlist-btn:hover {
        background-color: white;
      }

      .remove-from-cart-btn:hover {
        background-color: black;
      }
            
      .price {
        font-size: 1.25em;
        font-weight: bold;
      }

      .extra-info {
        display: none; 
      }
      
      .art-item:hover .extra-info {
        display: block; 
      }

      .art-item:hover .add-to-wishlist-btn {
        display: block; 
      }
      
      .art-item:hover .add-to-cart-btn {
        display: block; 
      }

      .art-item:hover .remove-from-cart-btn {
        display: block; 
      }

      .art-item:hover .remove-from-wishlist-btn {
        display: block; 
      }
      
      .state-icon-container-01 {
      background-color: white;
      height: 50px;
      width: 50px;
      border-radius: 25px;
      position: absolute;
      margin: 3%;
      top: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content:center;
      justify-content: space-around;
      }

      .state-icon-container-02 {
        background-color:  white;
        height: 50px;
        width: 50px;
        border-radius: 25px;
        position: absolute;
        margin: 3%;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content:center;
        justify-content: space-around;
        }
        
      .state-icon-01{
        height: 90%;
        width: auto;
        padding: 10%;
        margin-top: 10%;
      }
      .state-icon-02{
        height: 80%;
        width: auto;
        padding: 25%;
        margin-top: 10%;
      }

      .more-info-icon-container {
        background-color: rgba(255, 255, 255, 0.15);
        color: white;
        height: 50px;
        width: 50px;
        border-radius: 25px;
        position: absolute;
        margin: 10%;
        bottom: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content:center;
        justify-content: space-around;
        }

  }