/* OK: Add styling for your page here */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  margin: 6%;
  display: flex;
  flex-direction: column;

  .main-page{
    display: flex;
    flex-direction: row;
    align-items: top;
  }
  
  .filters-page{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: top;
    align-items: flex-start;
  }

  .items-page{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: top;
    flex-wrap: wrap;
  }

  .cart-page{
    display: flex;
    flex-direction: column;
    align-items: start; 
  }
}
